.CodeMirror {
    border: 1px solid black;
}
.resultsContainer {
    height: 70%; 
    width: 90%; 
    margin: auto; 
    background-color: black; 
    color: white;
    overflow: auto;
}
.editorContainer {
    padding: 5px;
    width: 50%;
    display: inline-block;
}
.gridStyle, .historyGrid {
    display: inline-block;
    width: 40%;
    height: 200px;
    vertical-align: top;
}

.controls {
    float: right;
    padding: 5px;
}

.controls a {
    padding: 5px;
}

.error {
    color: red !important;
}